body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #076668;
  color: white;
  padding: 20px 0;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin-right: 5%;
  margin-left: -10%;
  text-decoration: none;
}

#lg{
  margin-left: 7%;
  margin-right: -10%;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

#search {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 3%;
  margin-right: -5%;
}

#search input {
  width: 500px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  margin-right: 1%;
}

#search button {
  width: auto;
  padding: 5px;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

#search button:hover {
  background-color: #0056b3;
}

#out{
  width: 100px;
  padding: 5px;
  background-color: grey;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  margin-top: 10%;
}

#out:hover {
  background-color: #0056b3;
}



.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  background-color: #F3F3F3;
}

.profile-info {
  padding: 40px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  width: 50%;
}

.profile-info h2 {
  margin-top: 0;
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 1.3em;
  color: #666;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.dropdown-content table {
  width: 100%;
  border-collapse: collapse;
}

.dropdown-content td {
  padding: 10px;
  border: 1px solid #ccc;
}

.dropbtn {
  width: 100%;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  color: black;
  font-size: 1.3em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropbtn:hover {
  background-color: #0056b3;
}

.show {
  display: block;
  max-height: none !important;
}

.delete-button {
  padding: 5px 10px;
  background-color: #FF0000;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #B22222;
}


